* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* HEADER */
.header-array {
  background: #020617;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons button {
  margin-left: 10px;
}

/* BUTTON */
button {
  background: #2563eb;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}

/* MAIN */
.container-array {
  padding: 30px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 120px;
}

/* ARRAY VIEW */
.array-view {
  background: #020617;
  padding: 25px;
  border-radius: 18px;
}

#arrayView {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

/* ARRAY BOX */
.array-box {
  width: 70px;
  height: 70px;
  background: #1e293b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  animation: pop 0.4s ease;
}

.array-box .index {
  font-size: 11px;
  color: #38bdf8;
}

/* STATES */
.highlight {
  background: #facc15;
  color: black;
}

.found {
  background: #22c55e;
}

.sorted {
  background: #2563eb;
}

/* INFO */
#info {
  margin-top: 10px;
  color: #94a3b8;
}

/* ANIMATION */
@keyframes pop {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
